@CHARSET "UTF-8";

.linkedin blockquote {
	padding: 0 0 0 25px;
	margin: 0 0 20px;
	background: url('quote.png') no-repeat 0 0;
}

.linkedin blockquote p {
	margin-bottom: 0;
	overflow: hidden;
	width: 100%;
}

.linkedin blockquote small {
	display: block;
	line-height: 18px;
	color: #999999;
}

.linkedin blockquote small:before {
	content: '\2014 \00A0';
}

.linkedin blockquote:before,
	.linkedin blockquote:after {
	content: "";
}

.linkedin .scrollable {
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}

.linkedin .scrollable .items {
	width: 20000em; /* this cannot be too large */
	position: absolute;
}

.linkedin .scrollable .items blockquote {
	float: left;
}

.linkedin .profile .section {
	margin-bottom: 15px;
}

.linkedin .profile .section .heading {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	border-bottom: 2px solid #E0E0E0;
	color: #999;
}

.linkedin .profile .position,
	.linkedin .profile .education {
	margin-bottom: 10px;
}

.linkedin .profile .position .industry,
	.linkedin .profile .education .degree,
	.linkedin .profile .cartouche .location {
	color: #999;
	font-size: smaller;
}

.linkedin .profile .position .company {
	font-weight: bolder;
}

.linkedin .profile .summary,
	.linkedin .profile .specialties {
	white-space: pre-wrap;
}

.linkedin .profile .cartouche {
	background-color: #F0F0F0;
	min-height: 80px;
	padding: 15px 15px 15px 110px;
	margin-bottom: 15px;
}

.linkedin .profile .cartouche .picture {
	display: block;
	float: left;
	margin-left: -95px;
}

.linkedin .profile .cartouche .name {
	font-size: x-large;
	font-weight: bold;
}

.linkedin .profile .cartouche .healine {
	font-size: larger;
	font-weight: bolder;
}